.rnf-feed-provider {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif!important;
    font-family: var(--rnf-font-family-sanserif)!important;
    margin: 0!important;
    padding: 0!important
}

.rnf-feed-provider * {
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,sans-serif!important;
    font-family: var(--rnf-font-family-sanserif)!important;
    box-sizing: border-box
}
