:root {
  /* Font sizes */
  --rnf-font-size-xs: 0.75rem;
  --rnf-font-size-sm: 0.875rem;
  --rnf-font-size-md: 1rem;
  --rnf-font-size-lg: 1.125rem;
  --rnf-font-size-xl: 1.266rem;
  --rnf-font-size-2xl: 1.5rem;
  --rnf-font-size-3xl: 1.75rem;

  /* Spacing */
  --rnf-spacing-0: 0;
  --rnf-spacing-1: 4px;
  --rnf-spacing-2: 8px;
  --rnf-spacing-3: 12px;
  --rnf-spacing-4: 16px;
  --rnf-spacing-5: 20px;
  --rnf-spacing-6: 24px;
  --rnf-spacing-7: 32px;
  --rnf-spacing-8: 42px;

  /* Font weights */
  --rnf-font-weight-normal: 400;
  --rnf-font-weight-medium: 400;
  --rnf-font-weight-semibold: 600;
  --rnf-font-weight-bold: 700;

  /* Font family */
  --rnf-font-family-sanserif: Inter, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

  /* Border radius */
  --rnf-border-radius-sm: 2px;
  --rnf-border-radius-md: 4px;
  --rnf-border-radius-lg: 8px;

  /* Shadows */
    --rnf-shadow-sm: 0px 8px 16px -5px rgba(16, 24, 40, 0.16), 0px 18px 32px -4px rgba(16, 24, 40, 0.32);
    --rnf-shadow-md: 0px 8px 16px -5px rgba(16, 24, 40, 0.16), 0px 18px 32px -4px rgba(16, 24, 40, 0.32);

  /* Colors */
    --rnf-color-white: #fff;
    --rnf-color-white-a-75: rgba(255, 255, 255, .75);
    --rnf-color-black: #31312f;
    --rnf-color-gray-900: #454442;
    --rnf-color-gray-800: #585855;
    --rnf-color-gray-700: #6c6b68;
    --rnf-color-gray-600: #7f7f7b;
    --rnf-color-gray-500: #a7a6a0;
    --rnf-color-gray-400: #9ea0aa;
    --rnf-color-gray-300: #bab9b3;
    --rnf-color-gray-200: #e4e3db;
    --rnf-color-gray-100: #f5f4ec ;
    --rnf-color-brand-500: #e95744;
    --rnf-color-brand-700: #e4321b;
    --rnf-color-brand-900: #891e10;

  /* Component specific colors */
    --rnf-unread-badge-bg-color: #cc0000;
    --rnf-avatar-bg-color: #ef8476;
    --rnf-message-cell-unread-dot-bg-color: #f4ada4;
    --rnf-message-cell-hover-bg-color: #f1f6fc
}
